body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/PageHome.webp") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.7; /* Opacité de l'image de fond */
  z-index: -1;
}

.container {
  width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 20px;
  /* Ajoute un peu d'espace sous l'en-tête. */
}

.header input, .contact-section input {
  width: 97%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#description-produit{
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Conteneur pour les détails supplémentaires de l'annonce. */
.details-annonce {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

/* Styles pour les champs de sélection et d'entrée de texte. */
.type-select,
.produit-select,
.etat-select,
.prix-input {
  width: calc(100% - 10px);
  /* Prend toute la largeur disponible moins 10px pour le margin-left. */
  padding: 10px;
  /* Un peu d'espace à l'intérieur des champs. */
  margin-left: 10px;
  /* Un peu d'espace à gauche de chaque champ. */
}

#photodepo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../../../imgs/Exemple/original-D3D5DE64-85CD-411E-BC02-15A56E1FD9C9.jpeg");
  background-size: cover;
  /* Ajuste la taille de l'image pour couvrir tout le conteneur */
  background-position: center;
  /* Centre l'image dans le conteneur */
}

.corps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-blanc {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-section {
  position: relative;
}

.lieu-livraison {
  display: flex;
  justify-content: space-between;
}

.contact-section {
  margin-bottom: 20px;
}

#info_client {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#end-date {
  margin-top: 20px;
}

#calendar {
  margin: 20px 0;
}

#submit {
  margin-top: 20px;
}

/* Le pied de page du document. */
footer {
  text-align: center;
  /* Centre le texte. */
  width: 100%;
  /* Ajoute un peu d'espace à l'intérieur. */
  height: 50px;
  background-color: #c45252;
  /* Couleur de fond pour le pied de page. */
  position: fixed;
  bottom: 0;
  left: 0;
}
