/* Assure que les éléments s'affichent de manière cohérente dans différents navigateurs.*/

  body, html {
    height: 10%;
    margin: 10px;
    padding: 0;
    font-family: Arial, sans-serif; /* La police par défaut est Arial. */
    
  }
  

  .container {
    max-width: 1200px; /* La largeur max 1200px. */
    margin: auto; /* Centre le conteneur sur la page. */
    padding: 20px; /* Ajoute un peu d'espace autour du contenu interne. */
  }
  

  .header {
    display: flex; /* Utilise flexbox pour l'alignement horizontal. */
    justify-content: space-between; /* Répartit les enfants également horizontalement. */
    margin-bottom: 20px; /* Ajoute un peu d'espace sous l'en-tête. */
  }
  

  .titre-annonce {
    flex-basis: 40%; /* Prend 40% de l'espace disponible. */
  }
  
  /* Conteneur pour les détails supplémentaires de l'annonce. */
  .details-annonce {
    display: flex;
    justify-content: space-between; /* Espacement entre les éléments. */
    flex-basis: 58%; /* Prend 58% de l'espace disponible. */
  }
  
  /* Styles pour les champs de sélection et d'entrée de texte. */
  .type-select {
    width: 100%; /* Prend toute la largeur disponible. */
    padding: 10px; /* Un peu d'espace à l'intérieur des champs. */
    margin-left: 10px; /* Un peu d'espace à gauche de chaque champ. */
  }
  
  .produit-select{
    width: 100%;
    padding: 10px;
    margin-left: 10px;
  }

  .etat-select{
    width: 100%;
    padding: 10px;
    margin-left: 10px;
  }

  .prix-input{
    width: 100%;
    padding: 10px;
    margin-left: 10px;
  }

  #photo{
    position: absolute;
    top: 15%;
    margin-bottom: 20px;
  }

  /* Section pour la localisation et les options de livraison. */
  .lieu{
    position: absolute;
    top: 23%;
  }

  #info_client{
    position: absolute;
    top: 30%;
  }
  .livraison {
    position: absolute;
    right: 10%; /* Utilise flexbox ici aussi. */
    justify-content: space-between; /* Espacement entre les options. */
    margin-bottom: 20px; /* Ajoute un peu d'espace en dessous. */
    top: 25%;
  }
  
  /* Champ pour la description du produit. */
  #description-produit {
    position: absolute;
    top: 50%;
    width: 99%; /* Prend toute la largeur disponible. */
    height: 100px; /* Hauteur fixe pour la zone de texte. */
    left: 0;
  }

  #calendar{
    position: absolute;
    left: 0;
    top: 70%;
    margin: 20px;
  }
  
  /* Section pour entrer les coordonnées de contact. */
  .contact-section {
    margin-bottom: 20px; /* Ajoute un peu d'espace en dessous. */
  }
  
  /* Champ pour entrer les coordonnées de contact. */
  #contact-input {
    width: 99%; /* Prend toute la largeur disponible. */
    height: 5%;
    top: 40%;
    position: absolute;
  }

  #end-date{
    position: absolute;
    top: 66%;
  }

  #submit{
    position: absolute;
    width: 20%;
    height: 9%;
    top: 80%;
    left: 47%;
  }
  
  /* Le pied de page du document. */
  footer {
    text-align: center; /* Centre le texte. */
    width: 100%; /* Ajoute un peu d'espace à l'intérieur. */
    height: 9%;
    background-color: #c45252; /* Couleur de fond pour le pied de page. */
    top: 91%;
    position: absolute;
  }
