body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Empêche le défilement au niveau du body */
}

header {
    background-color: #7B2D26;
    height: 6vh; /* Fixe la hauteur de l'en-tête en unités de vh pour une précision accrue */
    align-items: center;
    text-align: center;
    display: flex;
}

.logo{
    object-fit: contain;
    height: 100%;
}
.barnav{
    display: flex;
    justify-content:left;
    width: 100%;
    padding-left: 20px;
    text-decoration: none;
}

.barnav > *:not(:last-child) {
    margin-right: 20px; /* ou la valeur d'espacement que vous préférez */
}

.photoBase img {
    width: 100%;
    height: calc(100vh - 5vh - 7vh); /* Ajuste la hauteur en vh également */
    object-fit: cover;
    display: block;
}

footer {
    background-color: #5d0606; /* Noir pour le fond du footer */
    color: #ffffff; /* Blanc pour le texte */
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    padding: 1rem; /* Ajustez selon votre design */
    font-size: 1rem; /* Ajustez la taille du texte */
}

.footer-links {
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
    flex-wrap: wrap; /* Les liens vont à la ligne si nécessaire */
}

.footer-links a {
    color: #ffffff; /* Blanc pour les liens */
    margin: 0 10px; /* Espace horizontalement entre les liens */
    text-decoration: none; /* Aucun soulignement sur les liens */
    padding: 5px 0; /* Ajustez pour le padding vertical si nécessaire */
}

.footer-links a:hover {
    text-decoration: underline; /* Souligne les liens au survol */
}

/* Style pour le texte de copyright */
footer p {
    text-align: center; /* Centre le texte */
    width: 100%; /* S'assure que le texte est centré dans toute la largeur */
    margin: 0; /* Aucune marge pour ce paragraphe */
}
