/* Assure que les éléments s'affichent de manière cohérente dans différents navigateurs. */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* La police par défaut est Arial. */
}

/* Centre le contenu de la page verticalement et horizontalement */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../imgs/Exemple/original-FC2562A8-AC82-446A-BA2B-B2E03C604E21.jpeg");
  background-size: cover;
  /* Ajuste la taille de l'image pour couvrir tout le conteneur */
  background-position: center;
  /* Centre l'image dans le conteneur */
}

/* Styles pour le page blanc au centre */
#page_blanc {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Styles pour le paragraphe de confirmation */
#page_blanc p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Styles pour le bouton de confirmation */
#bouton_conf button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#bouton_conf button:hover {
  background-color: #0056b3;
}
